
.browse-container {
        width: 60%;
        height: 89vh;
        max-height: 89vh;
        position: absolute;
        z-index: 5;
        right: 0px;
        top: 11%;
        background-color: var(--lighter-backing);
}
.browse-text-container{
        margin: 0px;
        padding: 0px;
}
.browse-text-container h3{
        margin: 0px;
        padding: 20px;
        color: var(--font-color);
        font-family: var(--raleway);
}
.browse-book-list {
        margin: 0 auto;
        margin-top: 2.5%;
        width: 90%;
        height: 90%;
        overflow: auto;
        scroll-behavior: smooth;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        gap: 10%;
        
}
.browse-book-item img{
        width: 150px;
        height: 230px;

}