
.burger-menu-container {
        
}
.navbar{
        height: 11%;
        position: absolute;
        width: 60%;
        left: 40%;
        z-index: 1;
        font-family: var(--raleway);
        font-weight: 500;
        
}
.navbar-list{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-flow: row nowrap;
        list-style: none;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 15%;
        
}
.navbar-list li, a{
        text-decoration: none;
        text-align: center;
        color: var(--font-color);
        font-size: 23px;
        font-weight: 400;
        margin: 0px;
        padding: 0px;
}
.navbar-list li:hover{
        border-bottom: 5px solid var(--dark-backing);
        margin-bottom: -5px;
        cursor: pointer;
}