 :root {
         --bagel-fat-one: 'Bagel Fat One', cursive;
         --hubbali: 'Hubballi', cursive;
         --quicksand: 'Quicksand', sans-serif;
         --poppins: 'Poppins', sans-serif;
         --libre-barcode-128: 'Libre Barcode 128 Text', cursive;
         --libre-barcode-39: 'Libre Barcode 39 Extended Text', cursive;
         --newsreader: 'Newsreader',
                 serif;
         --raleway: 'Raleway',
                 sans-serif;
         --dark-backing: #354743;
         --lighter-backing: #87AFA7;
         --font-color: #e7efee;
         --alpha: 0.8;
 }
.navbar-cont {
        width: 100%;
        height: 10vh;
        position: fixed;
        background-color: rgba(231,239,238, 0.9);
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center; 
}
.nav-logo{
        font-family: var(--bagel-fat-one);
        width: 20%;
        text-align: left;
        
}
.nav-logo p {
        font-size: 40px;
        letter-spacing: 0.15em;
        margin-left: 15%;
        color: var(--dark-backing);


}
.nav-icons{
        width: 30%;
        display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
}
.nav-link {
        color:var(--dark-backing);
        text-decoration: none;
        font-size: 25px;
}