
#back-icon{
        font-size: 25px;
        color: var(--dark-backing);
        position: absolute;
        top: 12%;
        left: 15%;
}
#back-icon:hover {
        cursor: pointer;
        color: var(--lighter-backing)
}

.login-form h3 {
        margin: 0px;
}

.login-form input {
        height: 8%;
        font-size: 15px;
        border-radius: 10px;
        padding-left: 10px;
        border: none;

}

.login-form button {
        border: none;
        background-color: var(--dark-backing);
        width: 60%;
        margin: 0 auto;
        padding: 2%;
        border-radius: 10px;
        color: var(--font-color);
        font-family: var(--subheading-font);
        font-size: 15px;
        font-weight: 500;
}
button:hover {
        cursor: pointer;
} 